.page-content{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(230, 230, 230), white);
}
.auth-card{
    background-color: white;
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.2);
    border-radius: 20px;
    padding: 10px 10%;
}
.service-btn{
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    width: 100%;
    color: rgb(46, 46, 46);
    height: 45px;
    box-shadow: none;
}
.btn-theme{
    background-color: black !important;
    color: white !important;
    box-shadow: none !important;
    position: absolute;
    top: 110px;
    left: 10px;
}
@media(max-width: 420px){
    #auth{
        padding-top: 80px;
    }
  }

/* ----- Dark Theme ----- */
.page-content-dark{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(0, 0, 0), #1f2833);
}
.auth-card-dark{
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 0 3px 16px rgb(0 0 0 / 0.4);
    border-radius: 20px;
    padding: 10px 10%;
    color: white;
}
.service-btn-dark{
    background-color: rgb(0, 0, 0, 0.2) !important;
    width: 100%;
    color: white;
    height: 45px;
    box-shadow: none !important;
}
.btn-theme-dark{
    background-color: white !important;
    color: black !important;
    box-shadow: none !important;
    position: absolute;
    top: 110px;
    left: 10px;
}
.auth-input-dark{
    background: rgb(0, 0, 0, 0.2);
    border: none;
    color: white;
    box-shadow: none !important;
}
.auth-input-dark:focus {
    background: rgb(0, 0, 0, 0.3);
    color: #66fcf1;
}