/* <!-- ---- Navbar ---- --> */
.navbar-brand img{
  width: 30px;
}
#brand-name{
  letter-spacing: 2px;
  font-family: var(--lg-font);
}
.navbar{
 box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1); 
}
.nav-link:hover{
  color: var(--pink) !important;
}
.nav-item{
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
.nav-btns .btn{
  background-color: white;
  color: rgb(85, 85, 85);
  margin: 5px;
  border: 1px solid rgb(85, 85, 85);
}
.nav-btns .btn:hover{
  background: var(--pink);
  color: white;
  border: var(--pink);
}
@media(min-width: 992px){
  .nav-item{
      border-bottom: none;
  }
}
@media(max-width: 420px){
  .nav-btn-label{
      display: none;
  }
}

/* <!-- ---- Hero ---- --> */
#hero{
  background: url(../public/images/banner-img-1.jpg) top/cover;
  height: 100vh;
  padding-top: 104px;
}
.carousel-inner h1{
  font-size: 60px;
  font-family: var(--lg-font);
}
.carousel-item .btn{
  border-color: white !important;
}

/* <!-- ---- Collection ---- --> */
.active-filter-btn{
  background-color: var(--pink) !important;
  color: white !important;
  border-color: var(--pink) !important;
}
.collection-img span{
  top: 20px;
  right: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

/* <!-- ---- Specials ---- --> */
.special-img span{
  top: 20px;
  right: 20px;
}
.special-img:hover img{
  transform: scale(1.2);
}
.special-img img{
  transition: all 0.3s ease;
}

/* <!-- ---- Banner ---- --> */
#banner{
  background: url(../public/images/offer_img.jpg) center/cover;
}
#banner .row{
  min-height: 60vh;
}
.banner-content span{
  font-size: 28px;
}
.banner-content h2{
  font-size: 60px;
  font-family: var(--lg-font);
}

/* <!-- ---- Footer ---- --> */
footer .brand{
  font-family: var(--lg-font);
  letter-spacing: 2px;
}

/* <!-- ---- Product ---- --> */
#product{
  padding-top: 104px;
}

/* <!-- ---- About Us ---- --> */
#aboutUs{
  padding-top: 120px;
}

/* <!-- ---- Contact Us ---- --> */
#contactUs{
  padding-top: 120px;
}

/* <!-- ---- Contact Us ---- --> */
#contactUs{
  padding-top: 120px;
}

/* <!-- ---- Cart ---- --> */
.cartQty {
  background-color: transparent;
}
.cartList-con {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.cartProd {
  flex: 65%;
}
.RemoveFromCart {
  flex: 15%;
}
.cartProd h4,
p {
  margin-bottom: 0;
  font-size: 13px;
}
.cartProd h4 {
  font-size: 15px;
  margin-right: 15px;
  margin-bottom: 0;
}
.cartImg {
  width: 35px;
  overflow: hidden;
  border: 1px solid rgb(231, 222, 222);
  flex: 20%;
  margin-right: 15px;
}
.Cart-total {
  margin: 0;
  background-color: #212529;
  width: 100%;
  height: 90vh;
  color: white;
  padding: 20px;
}
.Cart-total-heading {
  color: white;
}
.cartContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.cartImage {
  overflow: hidden;
  border: 1px solid rgb(231, 222, 222);
  flex: 20%;
  margin-right: 15px;
}
.cartProdName {
  flex: 70%;
}
.cartProdName h4 {
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 0;
}
.RemoveCartItem {
  flex: 10%;
  margin-left: 10px;
}
@media(max-width: 420px){
  .cartImage {
      display: none;
  }
}
