/* <!-- ---- Initial/Setup ---- --> */
:root{
  --lg-font: 'Kaisei Tokumin', serif;
  --sm-font: 'Poppins', sans-serif;
  --pink: #e5345b;
}
body {
  font-family: var(--sm-font);
}
.btn:not(.nav-btns .btn){
  background-color: white;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns .btn):hover{
  background: var(--pink);
  color: white;
  border: var(--pink);
}
.title h2::before{
  position: absolute;
  content: "";
  width: 4px;
  height: 50px;
  background-color: var(--pink);
  left: -20px;
  top: 50%;
  transform: translateY(-50%)
}